body {
    margin: 0;
    font-family: 'Raleway';
    line-height: 24px;
    font-size: 16px;
    color: #000000;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
} 


.header {
    padding-top: 24px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    margin: 0 22px;
    color: #616161;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #ED2823;
}

.header_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header_contact_link {
    font-weight: 700;
    color: #282828;
    text-decoration: none;
    transition: color .2s linear;
}

.header_contact_link:hover {
    color: #ED2823;
}

.starting { 
    display: flex;
    padding-top: 120px;
    justify-content: space-between;
}

.starting_block {
    max-width: 600px;
}

.starting_title {
    color: #282828;
    font-weight: 600;
    line-height: 44px;
    font-size: 40px;
}

.starting_title span {
    color: #ED2823;
}

.starting_form { 
    max-width: 600px;    
    padding-top: 40px;
    text-align: left;
}

.starting_form_input {
    border: none;
    font-size: 16px;
    opacity: 70%;
    background-color: #D3D3D34D;
    width: 385px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    margin-bottom: 16px;
}

.starting_form_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 210px;
    height: 55px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.starting_form_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.starting_confirm_form {
    display: flex;
    align-items: center;
}

.starting_privacy {
    opacity: 60%;
    padding-left: 40px;
    font-size: 14px;
    color: #282828;
}

.starting_img {
    max-width: 600px;
}

.starting_img img {
    border-radius: 50%;
  }

.starting_bottom_ad {
    padding-top: 60px;
    max-width: 600px;
    display: flex;
}

.starting_ad_left, .starting_ad_right {
    max-width: 300px;
    display: flex;
    align-items: center;
}

.starting_bottom_ad span {
    padding-left: 25px;
}

.more_details { 
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.more_left {
    padding-top: 120px;
    align-items: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.more_left_img {
    background: #FFFFFF;
    width: 180px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 30px 30px rgba(153, 158, 169, 0.1);
    gap: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 11px;
}

.more_left_img span {
    opacity: 90%;
    color: #282828;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

.more_right {
    max-width: 600px;
    width: 100%;
    padding-top: 190px;
}

.more_right_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #282828;
}

.more_right_title p {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #616161;
}

.more_details_button {
    padding-top: 25px;
    display: flex;
}

.more_form_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 210px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.more_form_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.more_price_button {
    border: 1px solid #ED2823;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #ED2823;
    width: 210px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    transition-duration: 0.5s;
    margin-left: 25px;
}

.more_price_button:hover {
    border: 1px solid #ED2823;
    background-color: #ED2823;
    color: #FFFFFF;
}

.comparison_image {
    margin-top: -255px;
    background-image: url('file:///Users/nakemiin/site/layout-html/source/triangle_main.png');
    padding-bottom: 75px;
}

.comparison_image h2 {
    padding-top: 330px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #282828;
}

.comparison {
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}

.comparison_left {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    background-color: #282828;
}

.comparison_left h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
    color: #FFFFFF;
}

.comparison_left span {
    color: #FFFFFF;
}

.comparison_left ul li {
    padding-left: 10px;
    color: #ED2823;
}

.comparison_right {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    background-color: #E8E8E8;
}

.comparison_right h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
    color: #616161;
}


.comparison_right span {
    color: #282828;
}

.comparison_right ul li {
    padding-left: 10px;
    color: #D3D3D3;
}

.comparison_left, .comparison_right {
    border-radius: 20px;
    padding: 80px 48px;
    height: 100%;
}

.infographic {
    display: flex;
    justify-content: space-evenly;
}

.infographic_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.round_text {
    width: 86px;
    height: 86px;
    line-height: 86px;
    border: 1px solid #D3D3D3;
    border-radius: 50%;
    color: #ED2823;
    font-size: 20px;
    font-weight: 600;
}

.round_bottom_text {
    max-width: 260px;
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}
.auto_price_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.auto_price_header h2 {
    width: 45%;
    line-height: 40px;
    color: #282828;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}

.auto_price_header h3 {
    color: #616161;
    font-size: 16px;
    font-weight: 500;
    width: 30%;
    line-height: 24px;
}

.auto_title {
    width: 100%;
    opacity: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #616161;
}

.auto_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #282828;
}

.new_price {
    color: #FC3E39;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}
.old_price {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #616161;
    opacity: 50%;
    text-decoration: line-through;
}
.ap_sec_block {
    margin-bottom: 50px;
    max-width: 400px;
    display: flex;
}

.auto_info {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.auto_img {
    display: flex;
    width: 200px;
}

.auto_img img {
    width: 100%;
    object-fit: contain;
}

.auto_price_block {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.auto_price_details_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 280px;
    height: 55px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.auto_price_details_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.apd_button {
    display: flex;
    justify-content: flex-end;
}

.user_quiz_offer {
    margin-top: 150px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row-reverse;
    background-color: #282828;
    height: 375px;
    border-radius: 30px;
    box-shadow: 0px 30px 60px 0px #7C818A66;

}

.user_quiz_offer_img {
    display: flex;
    justify-content: flex-end;
}

.user_quiz_offer_confirm span {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 40px;
}

.user_quiz_offer_confirm {
    padding-left: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user_quiz_offer_button {
    cursor: pointer;
    margin-top: 35px;
    width: 190px;
    height: 55px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #282828;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    transition-duration: 0.5s;
}

.user_quiz_offer_button:hover {
    background-color: #FFFFFF;
    color: #ED2823;
    max-height: 870px;
}

.best_month_offer_background {
    background-color: #f6f6f6;
}

.best_month_offer {
    padding-top: 100px;
    max-width: 1115px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 280px;
}

.best_month_offer_img {
    max-width: 490px;
    display: flex;
}

.best_month_offer_img img {
    border-radius: 50%;
}

.best_month_offer_info {
    max-width: 490px;
}

.best_month_offer_info span {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #282828;
}

.best_offer_span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.best_offer_span h3 {
    padding-top: 25px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #282828;
}

.best_offer_span span {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #616161;
}
.best_month_offer_button {
    padding-top: 40px;
}

.best_offer_bottom_buttons {
    padding-top: 80px;
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.best_offer_l_button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #D3D3D3;
    color: #D3D3D3;
    background-color: #f6f6f6;
    font-size: 25px;
    transition: 0.5s;
}

.best_offer_r_button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #D3D3D3;
    color: #D3D3D3;
    background-color: #f6f6f6;
    font-size: 25px;
    transition: 0.5s;
}

.best_offer_r_button:hover, .best_offer_l_button:hover {
    border: 1px solid #ff0000;
}

.reviews_header {
    margin-top: -140px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    color: #282828;
}

.reviews_statistic_block_group {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 60px;
}

.reviews_statistic_block_group div {
    display: flex;
    border-radius: 10px;
    width: 420px;
    height: 95px;
    padding: 24px 24px 24px 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 30px 0px #999EA91A;
    align-items: center;
    margin-right: 30px;
    font-size: 16px;
    text-align: left;
    color: #616161;
}

.reviews_statistic_block_group span {
    font-size: 40px;
    font-weight: 600;
    color: #282828;
}

.reviews_statistic_block_group p {
    margin-left: 30px;
}

.review_block_group {
    display: flex;
    justify-content: space-between;
}

.review_media_block {
    width: 280px;
    height: 350px;
    border-radius: 20px;
}

.review_media_block img {
    width: 100%;
}

.review_media_l_button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #D3D3D3;
    color: #D3D3D3;
    background-color: #FFFFFF;
    font-size: 25px;
    transition: 0.5s;
}

.review_media_r_button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #D3D3D3;
    color: #D3D3D3;
    background-color: #FFFFFF;
    font-size: 25px;
    transition: 0.5s;
}

.review_media_r_button:hover, .review_media_l_button:hover {
    border: 1px solid #ff0000;
}

.review_button_group_center {
    display: flex;
    justify-content: center;
}

.review_button_group {
    margin-top: 40px;
    width: 140px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.credit_block {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    height: 425px;
    background-color: #282828;
    border-radius: 30px;
    box-shadow: 0px 30px 60px 0px #7C818A66;
}

.credit_red_circle {
    pointer-events: none;
    padding-left: 32px;
    padding-top: 32px;
}

.credit_info_blocks {
    display: flex;
    height: 100%;
}

.credit_left_block {
    width: 610px;
    padding-top: 50px;
    padding-left: 105px;
}

.credit_left_text {
    width: 490px;
}

.credit_left_text span {
    font-size: 32px;    
    line-height: 40px;
    color: #FFFFFF;
}

.credit_left_text p {
    padding-top: 15px;
    font-size: 18px;
    line-height: 28px;
    color: #D3D3D3;
}

.credit_right_block {
    width: 610px;
}

.credit_input_group {
    color: #616161;
    border: 1px solid transparent;
}
.credit_block_input {
    border: 1px solid transparent;
    font-size: 16px;
    background-color: #616161;
    width: 385px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    margin-bottom: 16px;
    
}

.credit_form {
    padding-left: 120px;
    padding-top: 15px;
}

.credit_form_button_div {
    padding-top: 15px;
}

.credit_form_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 210px;
    height: 55px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.credit_form_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.credit_privacy {
    padding-top: 16px;
    opacity: 80%;
    padding-left: 5px;
    font-size: 14px;
    color: #D3D3D3;
}