body {
    margin: 0;
    font-family: 'Raleway';
    line-height: 24px;
    font-size: 16px;
    color: #000000;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
} 


.header {
    padding-top: 24px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    margin: 0 27px;
    color: #616161;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #ED2823;
}

.header_contact {
    text-align: right;
}
.header_contact span {
    display: flex;
}
.header_contact_link {
    font-weight: 700;
    color: #282828;
    text-decoration: none;
    transition: color .2s linear;
}

.header_contact_link:hover {
    color: #ED2823;
}

.starting { 
    padding-top: 120px;
}

.starting_block {
    float: left;
    max-width: 600px;
}

.starting_title {
    color: #282828;
    font-weight: 600;
    line-height: 44px;
    font-size: 40px;
}

.starting_title span {
    color: #ED2823;
}

.starting_form { 
    max-width: 600px;    
    padding-top: 40px;
    text-align: left;
}

.starting_form_input {
    border: none;
    font-size: 16px;
    opacity: 70%;
    background-color: #D3D3D34D;
    width: 385px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    margin-bottom: 16px;
}

.starting_form_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 240px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.starting_form_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.starting_confirm_form {
    padding-top: 20px;
    display: flex;
}

.starting_privacy {
    opacity: 60%;
    padding-left: 40px;
    font-size: 14px;
    color: #282828;
}
  
.starting_img {
    display: flex;
    justify-content: flex-end;
    max-width: 600px;
}

.starting_img img {
    border-radius: 50%;
  }

.starting_bottom_ad {
    padding-top: 60px;
    max-width: 600px;
    display: flex;
}

.starting_ad_left, .starting_ad_right {
    max-width: 300px;
    display: flex;
    align-items: center;
}

.starting_bottom_ad span {
    padding-left: 25px;
}

.more_details { 
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.more_left {
    padding-top: 115px;
    align-items: center;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.more_left_img {
    background: #FFFFFF;
    width: 180px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0px 30px 30px rgba(153, 158, 169, 0.1);
    gap: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 15px;
}

.more_left_img span {
    opacity: 90%;
    color: #282828;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}

.more_right {
    max-width: 600px;
    width: 100%;
    padding-top: 190px;
}

.more_right_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #282828;
}

.more_right_title p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #616161;
}

.more_details_button {
    padding-top: 25px;
    display: flex;
}

.more_form_button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #ED2823;
    width: 210px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    transition-duration: 0.5s;
}

.more_form_button:hover {
    box-shadow: 0px 20px 40px 0px #dd3d3a62;
    box-shadow: 0px 64px 94px 0px #dd3d3a62;
}

.more_price_button {
    border: 1px solid;
    border-color: #ED2823;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    color: #ED2823;
    width: 210px;
    height: 55px;
    padding: 16px 32px 16px 32px;
    border-radius: 30px;
    transition-duration: 0.5s;
    margin-left: 25px;
}

.more_price_button:hover {
    background-color: #ED2823;
    color: #FFFFFF;
}

.comparison_image {
    margin-top: -225px;
    background-image: url('file:///Users/nakemiin/site/layout-html/source/triangle_main.png');
    padding-bottom: 100px;
}

.comparison_image h2 {
    padding-top: 300px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
}

.comparison {
    display: flex;
    padding-top: 40px;
    justify-content: space-evenly;
}

.comparison_left {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #FFFFFF; 
    background-color: #282828;
}

.comparison_left h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
    color: #FFFFFF;
}

.comparison_right {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #282828; 
    background-color: #D3D3D3;
}

.comparison_right h3 {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
    color: #616161;
}
.comparison ul li {
    padding-left: 5px;
}

.comparison_left, .comparison_right {
    border-radius: 20px;
    padding: 80px 48px;
    height: 100%;
}